<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happ.mapper.TeacherMapper">

    <select id="find_teacher" parameterType="String" resultType="String">
        select password from teachers where num=#{num};
    </select>

    <select id="queryone_t" parameterType="String" resultType="com.happ.pojo.Teacher">
        select * from teachers where num=#{num};
    </select>

    <select id="queryone_t_num" parameterType="String" resultType="com.happ.pojo.Teacher">
        select * from teachers where username=#{username};
    </select>
    <update id="addclass1_id">
        update teachers set class1_id=#{class1_id} where num=#{num};
    </update>

    <update id="addclass2_id">
        update teachers set class2_id=#{class2_id} where num=#{num};
    </update>

    <select id="queryall" resultType="com.happ.pojo._Class">
        select * from _class;
    </select>

    <update id="updatePassword">
        update teachers set password=#{password} where num=#{num}
    </update>
</mapper>